@font-face {
    font-family: "Font Score Board";
    src: url('SevenSegment.ttf');
}

.score {
    color : red;
    font-family: "Font Score Board", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin-top: -10px;
}

th, td {
    padding: 5px 5px;
}

.rang {
    text-align: right;
}

.premier {
    color : yellow;
}

.second {
    color : orange;
}

.parent {
    height: 255px;
    padding-top: 1px;
    overflow: hidden;
}

#scoreboard {
    width: 756px;
    height: 642px;
    background-image: url('../background_board.png');
}
    
#scoreboard .row {
    margin-top: 165px;
}

#photo-joueur {
    width: 100%;
    max-height: 400px;
}

#liste-photo img {
    width: 100%;
    max-height: 250px;
}

#liste-photo .col {
    border: solid 1px;
}

.defi-equipe-container {
    margin-left: 20px;
}

.hiding {
	height: 0px;
	visibility: hidden;
	margin-bottom: 0px;
	margin-top: 0px;
}